.section-contacto-contacto {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
}

.container-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 719px;
  max-width: 715px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 34px;
}
.button-correo {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.7;
}
.telefono-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  gap: 5px;
}
.tl-span {
  width: 25px;
  opacity: 0.5;
}
.num-span {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.5;
}
.button-correo:hover {
  background-color: #000;
  color: #faf6f6;
  border: 1px solid #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.7;
}

.container-foto-contacto {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  min-width: 675px;
  min-height: 265px;
  max-width: 202px;
  height: 50px;
}

.img-contacto-contacto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 131px 102px 0px;
  filter: grayscale(100%);
  opacity: 0.7;
  object-position: 70% 0%;
}

.titulo-contacto {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 200;
}

.parrafo-contacto {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
